
body{
  /* background-color: #999999; */
  width: 1096px;
  height: 100%;
  background: #C9CACA;
  padding: 0px;
  margin: 0px;
}
aside{
  position: absolute;
  top: 80px;
  height: 900px;
  width: 290px;
  background: #2A69B1;
  padding: 0px;
}
.header{
  margin: 0;
  padding: 10px;
  width: 10px;
  height: 20px;
  background: blue;
  position: absolute;
  z-index: 99999;
  box-shadow: 0px 8px 6px -6px black;
}

/* .logo{
    position: absolute;
    margin: 0px 0px 0px 70px;
    float: left;
    cursor: pointer;
} */
.foto-profil{
  border-radius: 25%;
  /* width: 120px; */
  margin: 10px;
  position: relative;
  top: 30px;

}
#nama{
  font-family: sans-serif;
  color: white;
  float: right;
  position: relative;
  right: 80px;
}
.logout{
    font-family: sans-serif;
    color: white;
    float: right;
    position: relative;
    right: 100px;
}
